/* ===== LOBBY COMPONENT ===== */
/* Pre-call lobby view with call button and join room form */

#lobby {
  height: 86%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 2rem;
}

/* Buttons */

#lobby-buttons-container {
  margin-top: var(--spacing-2xl);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  column-gap: min(5dvw, 24px);
  width: 100%;
  max-width: 50dvw;
  /* height: 100%; */
}

button.lobby-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.75rem;
  aspect-ratio: 1;

  background-color: rgb(69 140 69);
  color: rgb(8 40 169);

  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--shadow-sm);

  /* lucide-icon styles: */
  font-size: 1.5rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

button.lobby-btn:hover {
  box-shadow: var(--shadow-md);
  text-shadow:
    0 2px 4px rgba(0 0 0 / 0.3),
    0 -1px 0 rgba(255 255 255 / 0.2);

  color: rgb(8 40 255);
}
