.public-homepage {
  margin-inline: auto;
  max-width: 90svw;
  max-height: 90svh;
  font-size: 16px;
  font-weight: 300;
  overflow: hidden;
}

.public-homepage__content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: clamp(4px, 16px, 32px);
  color: var(--text-primary);
  text-align: center;
}

.public-homepage h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: var(--text-shadow-medium);

  color: var(--color-primary);
  text-decoration: underline var(--color-primary-subtle);
}

.public-homepage p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--spacing-lg) auto 0;
  max-width: 58ch;
  color: var(--text-secondary);
  line-height: 1.5;
}

.public-homepage p.public-homepage__support {
  gap: 0.4em;
}

.public-homepage__login_prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  flex-wrap: wrap;
}

button.public-homepage__login {
  text-transform: capitalize;
  text-shadow: var(--text-shadow-medium);
  white-space: nowrap;

  border: rgb(151, 200, 238) 2px solid;
  background-color: rgba(124, 190, 208, 0.234);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }
  }
}

.public-homepage__links {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xl);
  margin-top: var(--spacing-xl);
}

.public-homepage__links a {
  color: var(--color-primary);
  font-weight: 700;
}

@media (hover: hover) and (pointer: fine) {
  .public-homepage__links a:hover {
    text-decoration: underline var(--color-primary-hover);
    text-shadow: none;
    cursor: pointer;
  }
}

@media (max-width: 720px) {
  .public-homepage {
    padding-inline: var(--spacing-lg);
  }

  .public-homepage h2 {
    font-size: 1.75rem;
  }
}
