*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: inherit;
  /* outline: 2px solid lime; */
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

html {
  /* color-scheme: dark light; */

  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  interpolate-size: allow-keywords;
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
  min-block-size: 100svh;

  display: grid;
  grid-template-rows: auto 1fr auto;

  color: var(--text-secondary);
  background: var(--bg-primary);
}

a {
  color: rgb(255, 255, 255);
}
