.layoutWrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  height: 100svh;
  max-width: 100svw;

  /* Enable container queries for child elements */
  container-type: size;
  container-name: main; /* Todo: rename to layout (or remove if unused) */
}

.mainContent {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.lobby {
  display: flex;
  flex-direction: column;

  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.activeViewContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.activeViewContainer[hidden] {
  display: none;
}
