.videoStream {
  position: relative;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center center;
  overflow: hidden;

  border-radius: var(--radius);

  &.local {
    transform: scaleX(-1); /* Flip */
  }

  /* DRAFT - default preview frame (only one at a time) */
  &.preview {
    position: absolute;
    top: var(--gap);
    left: var(--gap);
    width: 150px;
    height: 100px;
    z-index: 1;
  }
}

.playbackPrompt {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 12px 18px;
  border: 0;
  border-radius: 8px;
  background: rgba(64, 172, 59, 0.788);
  color: rgba(246, 246, 246, 0.947);
  text-shadow: var(--text-shadow-medium);
  font: inherit;
  font-size: large;
  letter-spacing: 0.05em;
  font-weight: 550;
  box-shadow: 0 8px 28px rgb(0 0 0 / 30%);
  cursor: pointer;
}
