.room {
  --color-bg: #080808;
  --color-border: #d7deea;
  --color-brand: #2f6fed;
  --color-text: #dde1e9;
  --color-muted: #4a5568;

  --gap: 12px;
  --pad: 28px;
  --radius: 8px;
  --remote-stream-container-min-width: 30rem;

  color: var(--color-text);
  background: var(--color-bg);

  position: relative;

  :global(.chat-controls) {
    position: absolute;
    bottom: var(--gap);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}
